$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px; 
$screen-md-max: ($screen-lg-min - 1);
@import '_variables.scss';
@import '_icons.scss';
@import '_bootstrap.scss';
@import '_nav.scss';
@import '_footer.scss';
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), 
    url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), 
    url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@media (max-width: $screen-xs-max) { }
@media (min-width: $screen-sm-min) { }
@media (max-width: $screen-sm-max) { }
@media (min-width: $screen-md-min) { }
@media (max-width: $screen-md-max) { }
